@import "./variables.scss";

@mixin box {
  font-size: 2em;
  font-weight: bold;
  width: $size;
  height: $size;
  border: solid 2px $box_border;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  @include box;
  background-color: $correct;
  border: $correct solid 2px;
  color: white;
}

.present {
  @include box;
  background-color: $present;
  border: $present solid 2px;
  color: white;
}

.correct_cb {
  @include box;
  background-color: $correct_cb;
  border: $correct_cb solid 2px;
}

.present_cb {
  @include box;
  background-color: $present_cb;
  border: $present_cb solid 2px;
}

.absent {
  @include box;
  background-color: $absent;
  border: $absent solid 2px;
  color: white;
}

.empty {
  @include box;
}
.edit {
  @include box;
}
