.header {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 6px;
  border-bottom: solid 1px #555;
  width: 60%;
  margin: auto;
  &_title {
    margin: unset;
  }
}

@mixin button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: inherit;
}

.mode_button {
  @include button();
  cursor: pointer;
}

.modal_button {
  @include button();
  cursor: pointer;
}

.disabled_button {
  @include button();
  color: #666666;
  cursor: not-allowed;
}

.rules_button {
  @include button();
  cursor: pointer;
}
