@import "./variables.scss";

@mixin keybase {
  background-color: $key_bg_color;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
  gap: 6px 4px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 768px) {
    width: 100%;
  }
}
@mixin key {
  @include keybase;
  width: 45px;
  height: 55px;
  @media all and (max-width: 500px) {
    width: 10%;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  gap: inherit;
}
.emptyKey {
  width: 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterKey {
  @include keybase;
  width: 80px;
  height: 55px;
}

.deleteKey {
  @include keybase;
  width: 80px;
  height: 55px;
}

.unknown {
  @include key;
}
.correct {
  @include key;
  background-color: $correct;
  border: $correct solid 2px;
}

.present {
  @include key;
  background-color: $present;
  border: $present solid 2px;
}

.correct_cb {
  @include key();
  background-color: $correct_cb;
  border: $correct_cb solid 2px;
}

.present_cb {
  @include key();
  background-color: $present_cb;
  border: $present_cb solid 2px;
}

.absent {
  @include key;
  background-color: $absent;
  border: $absent solid 2px;
}
