@import "./variables.scss";

@mixin box {
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: solid 2px $box_border;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  @include box;
  background-color: $correct;
  border: $correct solid 2px;
}

.present {
  @include box;
  background-color: $present;
  border: $present solid 2px;
}

.correct_cb {
  @include box;
  background-color: $correct_cb;
  border: $correct_cb solid 2px;
}

.present_cb {
  @include box;
  background-color: $present_cb;
  border: $present_cb solid 2px;
}

.absent {
  @include box;
  background-color: $absent;
  border: $absent solid 2px;
}

.empty {
  @include box;
}

.row {
  display: flex;
  gap: $gap;
  margin-bottom: $gap;
  text-transform: uppercase;
}

@mixin modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light_mode {
  @include modal_container();
  background-color: $light_bg_color;
}

.night_mode {
  @include modal_container();
  background-color: $dark_bg_color;
}

.section {
  width: 40%;
  @media all and (max-width: 500px) {
    width: 90%;
  }
}
.close_button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  line-height: 1rem;
  padding: 1px 2px;
  position: absolute;
  right: 0;
  user-select: none;
  background-color: transparent;
  color: inherit;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title {
  text-transform: uppercase;
  margin: 0;
}
.copy_link {
  color: inherit;
}
