// box sizings

$size: 60px;
$gap: 5px;

// colors:

$correct: #4caf50;
$absent: #333;
$present: #e5f321;
$box_border: #555;
$present_cb: #85c0f9;
$correct_cb: #f5793a;

$dark_bg_color: black;
$light_bg_color: white;
$light_text_color: white;
$dark_text_color: black;
$links_hover: green;
$key_bg_color: #aaa;
