body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.main {
  background-color: yellow;
  height: 80vh;
}
.footer {
  height: 10vh;
  background-color: cyan;
}
