body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: white;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #555;
  width: 60%;
  margin: 5px auto 0px;
  &_title {
    margin: unset;
  }
}
.main {
  height: 80vh;
  padding: 10px 5px;
}
.footer {
  height: fit-content;
  background-color: cyan;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
