body {
  font-family: Arial, Helvetica, sans-serif;
}
.light_mode {
  background-color: white;
  color: black;
}
.dark_mode {
  background-color: black;
  color: white;
}
.main {
  height: 80vh;
  padding: 10px 5px;
  width: 100%;
  touch-action: manipulation;
  box-sizing: border-box;
  @media all and (max-width: 768px) {
    width: unset;
  }
  @media all and (max-width: 1200px) {
    height: fit-content;
  }
}
.footer {
  height: fit-content;
  position: fixed;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  color: white;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  @media all and (max-width: 1200px) {
    width: 100%;
    position: relative;
  }
  &_links_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline-start: unset;
    list-style: none;
    margin: 0px;
  }
  &_link {
    margin: 0 10px;
    color: white;
    &:hover {
      color: green;
    }
  }
  &_small {
    font-family: monospace;
    font-size: 1rem;
  }
}
